page-home {
   ion-header,ion-navbar{
     background-color:#712B81

}
ion-title{
    background: color($colors,light);
}
}

#pay button{
    background:#D93D7C;
    color:white;
   
}
.button{
    background: #F1F2F4;
    color:#D93D7C;
    font-size:15px;
}
